@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=MonteCarlo&family=Nanum+Myeongjo:wght@400;700&family=Poppins:wght@200;300;400&family=Style+Script&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
}

.main{
    height: 740px;
    width: 100%;
    background-image: url("2.jpg");
    background-size: cover;
}
.title{
    height: 200px;
    width: 100%;
    font-family: 'Gowun Batang', serif;
    font-size: 36pt;
    position: relative;
    top: 50px;
    color: white;
}
.main1{
    height: 100px;
    width: 40%;
    margin: auto;
}
.button a{
    text-decoration: none;
    background-color: green;
    border-radius: 25px;
    margin: 5px 15px;
    padding:10px ;
    border: 2px solid white;
    position: relative;
    top: 100px;
    color: white;
}

#btn1{
    font-size: 15pt;
    font-family: 'Gowun Batang', serif;
    position: relative;
    right: 30px;
}

#btn2{
    font-size: 15pt;
    font-family: 'Gowun Batang', serif;
    position: relative;
    left: 30px;
    background-color: rgb(107, 107, 3);
}