@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Rubik:wght@300;400&display=swap');
* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
}
.main {
    text-align: center;
    height: 850px;
    position: relative;
    bottom: 150px;
    width: 100%;
    background-image: url("1.jpg");
    background-size: contain;
}
p{
    font-size:80pt;
    color:red;
    font-family: 'Cookie', cursive;
    position: relative;
    top: 300px;
}
